MONGODB_URI="mongodb+srv://<DB_USER>:<DB_PASSWORD>@<CLUSTER>/<DB_NAME>?retryWrites=true&w=majority&appName=<APP_NAME>"
PORT=5000
JWT_SECRET="<LONG_RANDOM_SECRET>"
SESSION_SECRET="<LONG_RANDOM_SESSION_SECRET>"
NODE_ENV="development"
CORS_ORIGIN="http://localhost:5000"
